*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.pop a{
    text-decoration: none;
    color: gray;
    display: inline-block;
    transition: 2s;
    list-style-type: none;
    }

    .pop ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .pop{
padding: 40px 4%;
    }

    .pop a:hover{
        color: white;
        transform: scale(1.05);

    }

    body{
        background-color: black;
        height: 100vh;
    }
.pop ul li{
    display: inline-block;
    padding: 0 40px;
}
    .btn-contato button{
border-radius: 30px;
border: 0;
padding: 10px 40px;
font-size: 18px;
font-weight: 600;
background-color: red;
cursor: pointer;
    }

.card{
    background-color:white;
    width: 150px;
    height: 300px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px red;
    padding: 6px;
   float: inline-start;
margin: 10px;

}

.card h1{
font-size: 1.2rem;
}

.card h2{
    font-size: .9rem;
    color:red;
}

.card button {
    background-color: #2192FF;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.rj{
    color: #fff;
    text-align: center;
}

.rj span{
    color: red;
}

.banner {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpng.pngtree.com%2Fthumb_back%2Ffw800%2Fback_our%2F20190621%2Fourmid%2Fpngtree-red-and-black-minimalist-line-geometric-promotion-banner-image_178393.jpg&f=1&nofb=1&ipt=c7c35e865a1355e844a348946c5f4d12940faf518c665f8a87120c0e2d9d3a43&ipo=images');
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 24px;
}

.destaque-produto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.produto {
    color: white;
    text-align: center;
    width: 30%;
}

.produto img {
    width: 80%;
    border-radius: 10px;
}

.produto h2 {
    margin-top: 10px;
}

.produto p {
    font-size: 16px;
    margin-top: 5px;
}

.sob{
    color: #fff;
    display: inline-block;
}

.sob h1{
    text-align: center;
}

.sob span{
    color: red;
}

.img-imp{
    float: right;
    padding: 4px 40px;
    margin: 70px;
}

.img-log{
  
    padding: 4px 40px;
  
}

.direitos{
    color:red;

    text-align: center;
    
   
}

 section .interface{
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 1rem;
    background-color: black;
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
}

form {
    
    width: 100%;
    max-width: 30rem;

}

label, input, textarea, button {
    display: block;
}

input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font: inherit;
    padding: 1.25rem;
    font-weight: 700;
}

input, textarea {
    margin-bottom: 1rem;
    color: white;
    background: red;
    border: 0.125rem solid transparent;
    border-radius: 1.125rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    outline: none;
    border-color: white;
    box-shadow: 0 0 0 0.3125rem rgba(255, 0, 0, 0.582);
} 

label {
    margin-bottom: 0.5rem;
    color: white;
}

textarea {
    min-height: 12.5rem;
    resize: none;
}

button {
    border: none;
    border-radius: 99px;
    color: white;
    background: red;
    cursor: pointer;
    transition: 0.3s;
}

button:hover, button:focus {
    outline: none;
    color: red;
    background: white;
}

button:disabled {
    cursor: not-allowed;
    background: gray;
}

.success, .error {
    text-align: center;
}

.success {
    color: greenyellow;
}

.error {
    color: tomato;
}